body {
  margin: 15% 0 0;
  padding: 0;
  height: 100%;
  width: 100%;

  background-image: url("../images/background-image.jpg ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  color: #eee;
  font-size: 24px;
  font-family: 'Roboto', sans-serif; 



  p {
    margin: 16px;
  }
}
section {
  padding: 0 36px;
}

footer {
  bottom: 0;
  color: #fff;
  position: absolute;
  width: 100%;

  p {
    font-size: 14px;
    text-align: center;
  }
  
  a {
    color: #a4a4a4;
  }
}

